:root {
    --background-oscuro: #1d2f44;
    --navbar: #2b4463;
    --azul-primario: #6fb1e4;
    --rosado-btn-cv: #bc2a6a;
    --blanco: #ffffff;
    --parrafo: #cbd5e1;
    --azul-secuendario: #21ADE4;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-oscuro);
    color: var(--blanco); 
    line-height: 1.6;
}
/* Estilos para el Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: var(--navbar);
  height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

/* Se ajusta la imagen que coloque como logo  */
#logoAlejandra {
    height: 80px;
    width: auto;
}

#logoAlejandra:hover {
    transform: scale(1.25);
    /* Efecto visual al pasar el mouse */
}

.links-nav {
    display: flex;
    list-style: none;
    gap: 32px; /* gap define el tamaño del espacio entre filas y entre columnas */
}

.links-nav a {
    text-decoration: none;
    color: var(--blanco);
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    /* Controla el espacio entre cada letra en un element dado o bloque de texto */
    transition: var(--transition);
}

.links-nav a:hover {
    color: var(--rosado-btn-cv);
}

/* Estilo para el boton de cv */
#btn-cv {
    background-color: var(--rosado-btn-cv);
    color: var(--blanco);
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#btn-cv:hover {
    color: var(--rosado-btn-cv);
    background-color: var(--parrafo);
}

/* seccion de inicio  */
.inicio-presentacion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  100px 5%;
    border-bottom: 0.1px solid var(--azul-primario);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contenedor-foto {
 display: flex;
    align-items: center;
    gap: 64px;
    max-width: 1200px;
    margin: 0 auto;
}

.imagen-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circulo-brillo {
  width: 300px;
    height: 300px;
    border: 3px solid var(--azul-primario);
    border-radius: 20px; /* Cuadrado redondeado como en tu imagen */
    box-shadow: 0 0 30px rgba(111, 177, 228, 0.4);
    overflow: hidden;
}

.circulo-brillo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-contenido h3 {
    font-size: 24px;
    font-weight: 400;
}

.contenedor-contenido .nombreAle {
    font-family: 'Oswald', sans-serif;
     font-size: clamp(2.5rem, 5vw, 4rem);
    margin: 5px 0;
}

.contenedor-contenido .nombreAle span {
    color: var(--azul-primario);
}

.contenedor-contenido .rolAle {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--azul-secuendario);
}

.contenedor-contenido #descripcion {
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--parrafo);
    font-size: 20px;
}

.iconos-redes {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.iconos-redes a {
    font-size: 22px;
    border: 2px solid var(--azul-secuendario);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.iconos-redes a:hover {
    border: var(--azul-primario);
    box-shadow: 0 0 5px var(--azul-primario);
}

.botones-contenido {
    display: flex;
    gap: 20px;
}

.btn-verProyectos {
    background-color: var(--azul-secuendario);
    color: var(--background-oscuro);
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.email {
    background: transparent;
    color: var(--azul-primario);
    padding: 12px 30px;
    border: 2px solid var(--azul-primario);
    border-radius: 25px;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.btn-verProyectos:hover {
    background-color: var(--background-oscuro);
    color: var(--azul-secuendario);
    border: 2px solid var(--azul-secuendario);
    border-radius: 25px;
}

.email:hover {
    color: var(--background-oscuro);
    background-color: var(--azul-primario);
}

/* seccion de educacion  */
.seccion-educacion {
    padding: 30px 5%;
    background-color: var(--background-oscuro);
    border-bottom: 0.1px solid var(--azul-primario);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.titulo-seccion {
    color: var(--azul-secuendario);
    padding-bottom: 10px;
}

/* grid de 2 columnas */
.grid-educacion {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.tarjeta-educacion {
    background-color: var(--background-oscuro);
    border: 1px solid var(--azul-primario);
    padding: 40px 30px;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 1px 1px 5px 1px var(--azul-primario);
}

.tag-educacion {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: transparent;
    color: var(--azul-secuendario);
    padding: 6px 14px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 1px;
    border: 1.5px solid var(--azul-primario);
}

.año-educacion {
    font-family: "Lora", serif;
    font-size: 40px;
    color: var(--parrafo);
    margin-bottom: -20px;
    margin-left: -5px;
    font-style: italic;
}

.tarjeta-educacion h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--azul-primario);
    margin-bottom: 10px;
    margin: 12px 0 0 0;
}

.tarjeta-educacion p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: var(--blanco);
    line-height: 1.5;
}


/* seccion de experiencia */

/* .seccion {
    padding: 60px 10%;
    background-color: var(--background-oscuro);
}

.titulo-seccion {
    color: var(--blanco);
    font-size: 2rem;
    margin-bottom: 30px;
    border-left: 5px solid var(--azul-primario);
    padding-left: 10px;
}


.contenedor-experiencia {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-experiencia {
    background-color: var(--navbar);
    padding: 20px;
    border-radius: 10px;
}

.cargo {
    color: var(--azul-primario);
}

.empresa {
    color: var(--azul-secuendario);
    font-size: 0.9rem;
}

.descripcion {
    color: var(--parrafo);
}

/* PROYECTOS */
/* .contenedor-proyectos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.tarjeta-proyecto {
    background-color: var(--navbar);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

.tarjeta-proyecto h3 {
    color: var(--blanco);
}

.tarjeta-proyecto p {
    color: var(--parrafo);
}

.boton-proyecto {
    display: inline-block;
    margin-top: 10px;
    background-color: var(--rosado-btn-cv);
    color: var(--blanco);
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
} */

/* HABILIDADES */
/* .contenedor-habilidades {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.grupo-habilidades h3 {
    color: var(--azul-primario);
}

.grupo-habilidades ul {
    list-style: none;
    padding: 0;
}

.grupo-habilidades li {
    color: var(--parrafo);
}

/* SOBRE MI */
/* .texto-sobre-mi {
    color: var(--parrafo);
    max-width: 600px;
    line-height: 1.6;
}   */